In [1]:
import pandas as pd

In [6]:
train_demo = pd.read_csv('/Users/khevnaparikh/Desktop/train_demo_subset.csv')

In [26]:
train_demo

,Unnamed: 0,id,stmt_date,HQ_city,legal_struct,ateco_sector,def_date,fs_year,asst_intang_fixed,asst_tang_fixed,...,inc_extraord,taxes,profit,days_rec,ebitda,roa,roe,wc_net,margin_fin,cf_operations
0,1630,36220135,12/31/07,108,SAU,28,12/31/99,2007,16159,2643651,...,-1024,2623921,2172169,NaN,1371337,17.31,36.57,2014680,2369981.0,2419059
1,2178,40700775,12/31/07,77,SRL,23,12/31/99,2007,30150,6087428,...,-407687,285969,86481,-46.69,2083697,3.87,0.85,4537122,3995928.0,1424877
2,430,11540689,12/31/07,68,SPA,10,12/31/99,2007,257440,1581628,...,-56413,-54252,-116042,242.38,404853,3.69,-12.95,463308,-1088326.0,15854
3,2156,40600579,12/31/07,57,SPA,10,12/31/99,2007,36711,1199476,...,-3995,9653,-24856,196.66,178873,2.95,-3.11,171866,-435927.0,67851
4,843,21000161,12/31/07,97,SPA,25,12/31/99,2007,32557,936821,...,6564,270833,83815,50.41,452830,3.14,2.95,2761349,1874079.0,313063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4144739,9639771006,12/31/12,58,SRL,62,12/31/99,2012,72118,14625,...,20290,292001,188479,NaN,398043,9.14,51.41,-428110,-734020.0,251418
996,1492115,2119590418,12/31/12,41,SRL,68,12/31/99,2012,0,3297295,...,1,-1821261,-1823560,NaN,64986,0.12,-64.87,-360259,-487159.0,-1762717
997,4144079,9634430012,12/31/12,1,SRL,41,12/31/99,2012,4302,452,...,83126,18497,11376,NaN,-30050,-1.24,1.63,1670171,693166.0,13533
998,4142262,9613150011,12/31/12,1,SRL,68,12/31/99,2012,381136,195649,...,-26231,-25556,73,NaN,98836,1.02,0.00,971233,1139363.0,34784
999,1492150,2119620033,12/31/12,3,SRL,68,12/31/99,2012,0,192520,...,2652,104154,70714,NaN,118539,3.14,18.27,191264,194581.0,77318

In [9]:
train_demo.shape

(1000, 44)

In [13]:
train_demo.columns

Index(['Unnamed: 0', 'id', 'stmt_date', 'HQ_city', 'legal_struct',
       'ateco_sector', 'def_date', 'fs_year', 'asst_intang_fixed',
       'asst_tang_fixed', 'asst_fixed_fin', 'asst_current', 'AR',
       'cash_and_equiv', 'asst_tot', 'eqty_tot', 'eqty_corp_family_tot',
       'liab_lt', 'liab_lt_emp', 'debt_bank_st', 'debt_bank_lt', 'debt_fin_st',
       'debt_fin_lt', 'AP_st', 'AP_lt', 'debt_st', 'debt_lt', 'rev_operating',
       'COGS', 'prof_operations', 'goodwill', 'inc_financing', 'exp_financing',
       'prof_financing', 'inc_extraord', 'taxes', 'profit', 'days_rec',
       'ebitda', 'roa', 'roe', 'wc_net', 'margin_fin', 'cf_operations'],
      dtype='object')

In [25]:
train_demo['legal_struct'].unique()
# pie chart to see distribution of each

array(['SAU', 'SRL', 'SPA', 'SRU', 'SAA'], dtype=object)

- SAU: Single-Shareholder Corporation 
- SRL: limited liability company
- SPA: joint-stock company
- SRU: 
- SAA

In [22]:
train_demo['def_date'].isna().sum()

0

In [24]:
train_demo['def_date'].unique()
#

array(['12/31/99', '8/9/10', '2/9/11', '5/27/09', '6/7/10', '8/12/10',
       '2/11/11', '8/11/10', '8/6/10', '2/15/11', '2/7/11', '8/7/10',
       '5/11/12'], dtype=object)

In [ ]:
#assumption - all are defualted 
#output a probability of defualt 

#foundation - signifciance testing

In [28]:
train_demo.dtypes

Unnamed: 0                int64
id                        int64
stmt_date                object
HQ_city                   int64
legal_struct             object
ateco_sector              int64
def_date                 object
fs_year                   int64
asst_intang_fixed         int64
asst_tang_fixed           int64
asst_fixed_fin            int64
asst_current              int64
AR                        int64
cash_and_equiv            int64
asst_tot                  int64
eqty_tot                  int64
eqty_corp_family_tot    float64
liab_lt                   int64
liab_lt_emp               int64
debt_bank_st            float64
debt_bank_lt            float64
debt_fin_st             float64
debt_fin_lt             float64
AP_st                   float64
AP_lt                   float64
debt_st                   int64
debt_lt                   int64
rev_operating             int64
COGS                      int64
prof_operations           int64
goodwill                  int64
inc_financing             int64
exp_financing             int64
prof_financing            int64
inc_extraord              int64
taxes                     int64
profit                    int64
days_rec                float64
ebitda                    int64
roa                     float64
roe                     float64
wc_net                    int64
margin_fin              float64
cf_operations             int64
dtype: object